/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1e1e20;
    --bg-light-color: #303036;
    --text-color: #f9f9f9;
    --para-color: #9c9c9c;
    --main-color: #8f43ee;
    --light-color: #b37df5;
    --extra-light: rgb(206, 165, 255);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    min-height: 100vh;
}
#favicon{
    border-radius: 50%;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar .name {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.navbar .name img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar .navitems ul {
    display: flex;
    list-style: none;
}

.navbar .navitems ul li {
    margin: 0 15px;
}

.navbar .navitems ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
}

.navbar .navitems ul li a:hover {
    color: var(--light-color);
}
/* ******* link hover effect ******* */

nav ul li:hover:after{
    width: 100%;
    left: 0;
}

nav ul li::after{
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height:2px;
    background-color: var(--light-color);
    transition-timing-function: (0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left; 
}
.menu-controls {
    display: none;
}

/* Main Section */
.mainsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
}
.content{
    display: flex;
    align-items: center;
    height: 85vh;
    justify-content: center;
    position: relative;
}

.maincontent{
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    position: relative;
}
.main-text {
    max-width: 900px;
}

.main-text h2 {
    font-size: 1.5rem;
    color: var(--light-color);
    margin-bottom: 10px;
}

.main-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

.main-text p {
    font-size: 1rem;
    color: var(--para-color);
    margin-bottom: 20px;
}

.buttons button {
    margin-right: 15px;
    padding: 10px 20px;
    background-color: var(--main-color);
    box-shadow: 0 0 12px var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    background: transparent
}

.buttons button:hover{
    background: var(--main-color);
    border: 2px solid var transparent;
}

.main-image {
    order: 2;
}

.main-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid var(--text-color);
    box-shadow: 0 0 20px var(--light-color);
}

/* Skills Section */
.skills {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.skills p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 20px;
    width: 100%;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.skills ul li img {
    width: 50px;
    height: auto;
    transition: transform 0.3s;
    cursor: pointer;
}

.skills ul li img:hover {
    transform: scale(1.2);
}

/* About Section */
.about {
    background-color: var(--bg-light-color);
    padding: 40px;
    border-radius: 8px;
    margin: 40px 0;
}

.about h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--para-color);
}

/* Projects Section */
.projects {
    padding: 40px 0;
}

.projects h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: var(--bg-light-color);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s ease;;
}


.card:hover {
    transform: translateY(-10px);
}

.card img,
.card video {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    color: var(--para-color);
    margin-bottom: 15px;
}

.card a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}

/* Contact Section */
.contact {
    text-align: center;
    padding: 40px 20px;
}

.contact-bar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-bar ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
}

.contact-bar ul li a:hover {
    color: var(--light-color);
}

.copyright {
    font-size: 0.8rem;
    color: var(--para-color);
}
.contact-list-item{
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    overflow: hidden;
    border-radius: 50%;
}

/* Floating Button */
#floatingButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

#floatingButton:hover {
    background-color: var(--light-color);
    transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 1024px) {
    .mainsection {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-image {
        order: 1;
    }

    .main-image img {
        width: 250px;
        height: 250px;
    }

    .project-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .skills ul li img {
        width: 40px;
    }
}

@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar .navitems ul {
        flex-direction: column;
        gap: 10px;
    }

    .mainsection {
        flex-direction: column;
        text-align: center;
    }

    .main-text {
        margin-bottom: 30px;
    }
    .buttons{
        padding: 5px 0;
    }

    .main-image {
        order: 1;
        text-align: center;
    }

    .main-image img {
        width: 200px;
        height: 200px;
    }

    .skills ul li img {
        width: 35px;
    }

    .project-list {
        grid-template-columns: 1fr;
    }

    .contact-bar ul {
        flex-direction: column;
    }
}
